<section class="wf100 p80">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <div class="card">
                    <div class="myaccount-form">
                        <h3 class="text-center mt-3">Registre-se Agora!</h3>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-10 mb-4">
                                <form>
                                    <ul class="row">
                                        <li class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Seu nome"
                                                    required>
                                            </div>
                                        </li>
                                        <li class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="CPF/CNPJ"
                                                    required>
                                            </div>
                                        </li>
                                        <li class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Email"
                                                    required>
                                            </div>
                                        </li>
                                        <li class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Numero Telefone">
                                            </div>
                                        </li>
                                        <li class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Digite sua senha">
                                            </div>
                                        </li>
                                        <li class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Confirme sua senha">
                                            </div>
                                        </li>
                                        <li class="col-md-12">
                                            <div class="input-group form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Eu aceito os termos de licença
                                                    <a href="#">Serviços & Plitica de Privacidade</a></label>
                                            </div>
                                        </li>
                                        <li class="col-md-12">
                                            <button class="register">Registrar minha conta</button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>