<!--Footer Start-->
<footer class="footer">
    <div class="footer-top wf100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <img src="/images/favicon.png" alt="">
                            <h1 class="text-center text-warning" style="font-size: 27px;">Descarte Inteligente</h1>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <!--Footer Widget Start-->
                    <div class="footer-widget">
                        <h4>Sobre Ecova
                        </h4>
                        <p> Se algo está em alta na economia de hoje, é economizar dinheiro, incluindo uma ampla gama de
                            empresas verdes ajudando as pessoas a economizar energia, água e outros recursos.
                            Definitivamente, você pode ir com este negócio, pois nada mais é do que o futuro. </p>
                        <a href="#" class="lm">Sobre nós
                        </a>
                    </div>
                    <!--Footer Widget End-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--Footer Widget Start-->
                    <div class="footer-widget">
                        <h4>Nossas Metas
                        </h4>
                        <ul class="quick-links">
                            <li><a href="#">Aumentar índice de reciclagem
                                </a></li>
                            <li><a href="#">Descarte Inteligente
                                </a></li>
                            <li><a href="#">Coleta Inteligente</a></li>
                        </ul>
                    </div>
                    <!--Footer Widget End-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyr wf100">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4"> </div>
                <div class="col-md-8 col-sm-8">
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->
