<div class="container">
    <div class="card-body">

    </div>
</div>
<header class="header-style-2 mt-2">
    <nav class="navbar navbar-expand-lg navbar-success bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/favicon.png" alt="TRABALHO" width="50"></a>
            <button class="navbar-toggler"  type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fas fa-align-justify"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item" onclick="aviso()">
                        <a class="nav-link" href="/schedule">Agendamento</a>
                    </li>
                    <li class="nav-item" onclick="aviso()">
                        <a class="nav-link" href="/account/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="/contact" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> Contato </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>




<script>
    function aviso() {
        alert('Estamos trabalhando na forma de usar o agendamento tambem por whatsApp com Intelingencia artificial.')
    }
   
        $('#navbarSupportedContent').removeClass('show')

        $("#clicado").click(function (event) {
            event.preventDefault()
            alert('oi')
        });
    

</script>