<section class="wf100 p80 blog">
    <div class="blog-grid-medium">
        <div class="container">
            <div class="row">
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-link"></i></a> <img
                                src="images/industry/01.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro">Produção brasileira de aço cresceu 11% em janeiro.</a></h5>
                            <p>
                                A produção brasileira de aço cresceu 11% em janeiro, em comparação a janeiro do ano
                                passado, constituindo a maior expansão desde janeiro de 2019. Na mesma relação, as
                                vendas internas evoluíram 26% e o consumo aparente teve alta de 25%, maior percentual
                                desde março de 2015. Os números foram apresentados hoje (22) pelo presidente executivo
                                do Instituto Aço Brasil, Marco Polo de Mello Lopes.
                            </p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-calendar-alt"></i> <small>27/02/2021</small></a> </li>
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-comments"></i> <small>Agência Brasil</small></a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-link"></i></a> <img
                                src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro">Projeção de produção do aço bruto para 2021.</a></h5>
                            <p>
                                Para este ano, o instituto projeta aumento da produção de aço bruto de 6,7%, com 33,04
                                milhões de toneladas. São esperados aumentos também nas vendas internas (5,3%, com 20,2
                                milhões de toneladas), exportações (9%, 11,7 milhões de toneladas), importações (9,8%,
                                2,2 milhões de toneladas) e consumo aparente (5,8%, 22,4 milhões de toneladas).
                            </p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-calendar-alt"></i> <small>27/02/2021</small></a> </li>
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-comments"></i> <small>Agência Brasil</small></a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a
                                href="https://siderurgiabrasil.com.br/2021/02/23/vendas-da-distribuicao-de-acos-planos-continua-em-alta/"><i
                                    class="fas fa-link"></i></a> <img src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="#">Vendas dos Distribuidores de Aços Planos continuam em alta.</a></h5>
                            <p>Segundo o Inda as vendas de aços planos em janeiro registraram alta de 12,7% quando
                                comparadas a dezembro, (último mês) atingindo o montante de 324,6 mil toneladas contra
                                288 mil naquele mês. Cabe aqui um comentário de que as vendas de dezembro já haviam sido
                                consideradas um recorde para o mês. A situação é melhor ainda se compararmos com o mesmo
                                mês do ano passado, quando foram vendidas 279,4 mil toneladas, com alta de 16,2%.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> <small>27/02/2021</small></a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> <small>Protal SIDERURGIA Brasil</small></a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
            </div>
        </div>
</section>
