<section class="wf100 p80 blog">
    <div class="blog-grid-medium">
        <div class="container">
            <div class="row">
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img
                                src="images/industry/01.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="#">How you can keep alive wild animals for long.</a></h5>
                            <p>According to a survey the perceived higher cost of environmentally-friendly products is
                                the major holdup to consumers going green.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img
                                src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="#">In eu lorem a ante mattis vehicula ac in nunc.</a></h5>
                            <p>According to a survey the perceived higher cost of environmentally-friendly products is
                                the major holdup to consumers going green.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img
                                src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="#">Sed ut tellus vel quam molestie feugiat.</a></h5>
                            <p>According to a survey the perceived higher cost of environmentally-friendly products is
                                the major holdup to consumers going green.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
        </div>
    </div>
</section>
