<section class="wf100 p80 blog">
    <div class="blog-grid-medium">
        <div class="container">
            <div class="row">
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img
                                src="images/industry/01.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="#">Vendas da CSN atingem 4,6 mil toneladas em 2020</a></h5>
                            <p>As vendas totais da CSN atingiram 4.651 mil toneladas em 2020, 3% acima quando comparadas às registradas em 2019. No quarto trimestre, 
                                as vendas chegaram a 1.229 mil toneladas de produtos siderúrgicos, 10% superior em relação ao mesmo período do ano anterior.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 24 Fevereiro, 2021</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 25 Comments</a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img
                                src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="#">Pandemia derruba consumo de aço na América Latina</a></h5>
                            <p>A pandemia do novo coronavírus deverá promover uma queda acentuada no consumo aparente de aço na América Latina. Segundo a Associação Latino-americana do Aço (Alacero), neste ano deverão ser consumidos 55,68 milhões de toneladas na região, o que representa queda de 14,5%,
                                 no comparativo com 2019, puxada pelo desempenho do setor no Brasil, Argentina e México, os maiores mercados consumidores da região.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 23 Janeiro, 2021</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 14 Comments</a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img
                                src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
                            <h5><a href="#">CSN, Gerdau e Usiminas têm perspectiva revisada para negativa pela S&P.</a></h5>
                            <p>A forte desaceleração da atividade industrial e de construção por causa da pandemia do novo coronavírus (Covid-19) reduzirá drasticamente a demanda de aço em 2020, disse a agência de classificação de risco S&P. 
                                Ela também revisou para negativa as perspectivas das siderúrgicas CSN, Gerdau e Usiminas.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 23 Abril, 2020</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 141 Comments</a> </li>
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
        </div>
    </div>
</section>
