<section class="wf100 p80 blog">
    <div class="blog-grid-medium">
        <div class="container">
            <div class="row">
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-link"></i></a> <img
                                src="images/industry/01.jpg" alt=""> </div>
                        <div class="post-txt">
<<<<<<< HEAD
                            <h5><a href="#">Vendas da CSN atingem 4,6 mil toneladas em 2020</a></h5>
                            <p>As vendas totais da CSN atingiram 4.651 mil toneladas em 2020, 3% acima quando comparadas às registradas em 2019. No quarto trimestre, 
                                as vendas chegaram a 1.229 mil toneladas de produtos siderúrgicos, 10% superior em relação ao mesmo período do ano anterior.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 24 Fevereiro, 2021</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 25 Comments</a> </li>
=======
                            <h5><a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro">Produção brasileira de aço cresceu 11% em janeiro.</a></h5>
                            <p>
                                A produção brasileira de aço cresceu 11% em janeiro, em comparação a janeiro do ano
                                passado, constituindo a maior expansão desde janeiro de 2019. Na mesma relação, as
                                vendas internas evoluíram 26% e o consumo aparente teve alta de 25%, maior percentual
                                desde março de 2015. Os números foram apresentados hoje (22) pelo presidente executivo
                                do Instituto Aço Brasil, Marco Polo de Mello Lopes.
                            </p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-calendar-alt"></i> <small>27/02/2021</small></a> </li>
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-comments"></i> <small>Agência Brasil</small></a> </li>
>>>>>>> 9018299ace3a243725c3c776d46fce022e505c5c
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-link"></i></a> <img
                                src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
<<<<<<< HEAD
                            <h5><a href="#">Pandemia derruba consumo de aço na América Latina</a></h5>
                            <p>A pandemia do novo coronavírus deverá promover uma queda acentuada no consumo aparente de aço na América Latina. Segundo a Associação Latino-americana do Aço (Alacero), neste ano deverão ser consumidos 55,68 milhões de toneladas na região, o que representa queda de 14,5%,
                                 no comparativo com 2019, puxada pelo desempenho do setor no Brasil, Argentina e México, os maiores mercados consumidores da região.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 23 Janeiro, 2021</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 14 Comments</a> </li>
=======
                            <h5><a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro">Projeção de produção do aço bruto para 2021.</a></h5>
                            <p>
                                Para este ano, o instituto projeta aumento da produção de aço bruto de 6,7%, com 33,04
                                milhões de toneladas. São esperados aumentos também nas vendas internas (5,3%, com 20,2
                                milhões de toneladas), exportações (9%, 11,7 milhões de toneladas), importações (9,8%,
                                2,2 milhões de toneladas) e consumo aparente (5,8%, 22,4 milhões de toneladas)..
                            </p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-calendar-alt"></i> <small>27/02/2021</small></a> </li>
                            <li> <a href="https://agenciabrasil.ebc.com.br/economia/noticia/2021-02/producao-brasileira-de-aco-cresceu-11-em-janeiro"><i class="fas fa-comments"></i> <small>Agência Brasil</small></a> </li>
>>>>>>> 9018299ace3a243725c3c776d46fce022e505c5c
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
                <!--Blog Small Post Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb"> <a
                                href="https://siderurgiabrasil.com.br/2021/02/23/vendas-da-distribuicao-de-acos-planos-continua-em-alta/"><i
                                    class="fas fa-link"></i></a> <img src="images/industry/03.jpg" alt=""> </div>
                        <div class="post-txt">
<<<<<<< HEAD
                            <h5><a href="#">CSN, Gerdau e Usiminas têm perspectiva revisada para negativa pela S&P.</a></h5>
                            <p>A forte desaceleração da atividade industrial e de construção por causa da pandemia do novo coronavírus (Covid-19) reduzirá drasticamente a demanda de aço em 2020, disse a agência de classificação de risco S&P. 
                                Ela também revisou para negativa as perspectivas das siderúrgicas CSN, Gerdau e Usiminas.</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> 23 Abril, 2020</a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> 141 Comments</a> </li>
=======
                            <h5><a href="#">Vendas dos Distribuidores de Aços Planos continuam em alta.</a></h5>
                            <p>Segundo o Inda as vendas de aços planos em janeiro registraram alta de 12,7% quando
                                comparadas a dezembro, (último mês) atingindo o montante de 324,6 mil toneladas contra
                                288 mil naquele mês. Cabe aqui um comentário de que as vendas de dezembro já haviam sido
                                consideradas um recorde para o mês. A situação é melhor ainda se compararmos com o mesmo
                                mês do ano passado, quando foram vendidas 279,4 mil toneladas, com alta de 16,2%..</p>
                        </div>
                        <ul class="post-meta">
                            <li> <a href="#"><i class="fas fa-calendar-alt"></i> <small>27/02/2021</small></a> </li>
                            <li> <a href="#"><i class="fas fa-comments"></i> <small>Protal SIDERURGIA Brasil</small></a> </li>
>>>>>>> 9018299ace3a243725c3c776d46fce022e505c5c
                        </ul>
                    </div>
                </div>
                <!--Blog Small Post End-->
            </div>
        </div>
</section>
