<div class="container mt-5">
    <div class="card">
        <div class="card-body mb-5">
            <h5>Área de contato</h5>
            <hr>
            <form action="/contact/register" method="post">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <label for="">Email</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Digite seu e-mail"
                            required>
                        <label for="">Nome</label>
                        <input type="text" name="nome" id="nome" class="form-control"
                            placeholder="Digite seu Nome/Empresa" required>
                        <label for="">Telefone</label>
                        <input type="text" name="Telefone" id="Telefone" class="form-control"
                            placeholder="Digite seu telefone">
                        <label for="">Escreva sua mensagem</label>
                        <textarea name="msg" id="msg" cols="30" rows="10" class="form-control"
                            placeholder="Digite sua mensagem" required></textarea>
                        <div class="row mt-5">
                            <button class="btn btn-success col-12">Enviar Mensagem</button>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </div>
</div>
