<div class="containter">
    <div class="card">
        <div class="card-body" style="min-height: 400px;">
            {{#each schedule}}
            <p><i class="fas fa-user"></i>{{this.name}}</p>
            {{/each}}
        </div>
    </div>
</div>
