<!--Contact Start-->
<section class="shop wf100 p80">
    <div class="container">
        <div class="row">
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro1.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEILÃO DE CARROS</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro2.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEILÃO DE MOTOS</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro3.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEIÃO DE VEICULOS</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro4.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEILOES DE ONIBUS</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro5.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEILOES DE AVIOES</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro6.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEILOES DIVERSOS</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro7.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEILOES DE FERRO PEDRA</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
            <!--Pro Box Start-->
            <div class="col-lg-3 col-sm-6">
                <div class="product-box">
                    <div class="pro-thumb"> <a href="#">PARTICIPAR</a> <img src="images/shop/pro8.jpg" alt=""></div>
                    <div class="pro-txt">
                        <h6><a href="#">LEILOES DE AÇO PRENSADOS</a></h6>
                        <p class="pro-price"><del>$25.00</del> $19.00</p>
                        <hr>
                        <div class="row">
                            <ul class="post-meta">
                                <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pro Box End-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="gt-pagination">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i
                                        class="fas fa-angle-left"></i> </a> </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <i
                                        class="fas fa-angle-right"></i> </a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact End-->