<section id="home-slider" class="owl-carousel owl-theme wf100">
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container" style="color: black;">
                <strong>Ecova<span> a melhor</span></strong>
                <h1>Eco 2021</h1>
                <p>Ganhe dinheiro ajudando o meio ambiente</p>
                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="/images/02ferroVelho.jpg" alt="">
    </div>
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container">
                <strong><span>Please</span> Stop Hunting & </strong>
                <h1>Save WildLife</h1>
                <p>of <strong>endangered animals</strong> in the world</p>
                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="images/vergalhoes.jpg" alt="">
    </div>
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container">
                <strong>Save <span> & don’t waste our life</span> partner</strong>
                <h1>Water Resource</h1>
                <p>Before <strong>it’s too late</strong> for us...</p>
                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="/images/02ferroVelho.jpg" alt="">
    </div>
</section>


<section class="services-area wf100">
    <div class="container">
        <ul>
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/sericon1.png" alt="">
                    <h6>Reciclagem</h6>
                    <p>Gestão de resíduos</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/icon_metal.png" alt="">
                    <h6>Embalagens de Aço</h6>
                    <p>Separe as embalagens de aço de sua casa</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/icon_catador.png" alt="">
                    <h6>Catador</h6>
                    <p>O catador coleta seu material de aço reciclavel</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li class="active">
                <div class="sinfo">
                    <img src="images/icon_ferrovelho.png" alt="">
                    <h6>Ferro Velho</h6>
                    <p>O catador leva seu descarte ao Ferro Velho</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/icon_industria.png" alt="">
                    <h6>Siderúrgica</h6>
                    <p>Logo em seguida seu descarte é levado para a Siderúrgica para ser reciclado</p>
                </div>
            </li>
            <!--box  end-->
        </ul>
    </div>
</section>


<section class="home2-about wf100 p100 gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="video-img"> <a href="http://vimeo.com/43338103&amp;width=700" data-rel="prettyPhoto"
                        title="Vimeo video"><i class="fas fa-play"></i></a> <img src="images/about.jpg" alt=""> </div>
            </div>
            <div class="col-md-7">
                <div class="h2-about-txt">
                    <h3>Curiosidades sobre o aço</h3>
                    <h2>Você sabia que o aço é o elemento mais reutilizavel que existe?</h2>
                    <p> Diversas pessoas estão recilando o aço de forma correta e ganhando dinheiro com suas
                        reciclagens.
                        Só no começo de 2021 tivemos um aumento de 45% de pessoas descartando de forma correta ajudando
                        o meio ambiente e melhor de tudo ganhando dinheiro através de seus lindos atos.
                    </p>
                    <a class="aboutus" href="#">Descubra mais sobre nós</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-facts counter pt80">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="counter-box">
                        <p class="counter-count">89000</p>
                        <p class="ctxt">Empresas compras de Ferro</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="counter-box">
                        <p class="counter-count">79000</p>
                        <p class="ctxt">Empresas Ferro Velho</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="counter-box">
                        <p class="counter-count">69000</p>
                        <p class="ctxt">Pessoas ganhando dinheiro discartando de forma correta</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="counter-box">
                        <p class="counter-count">59000</p>
                        <p class="ctxt">Numero total de usuários</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body">
        {{>_news}}
    </div>
</div>