<section id="home-slider" class="owl-carousel owl-theme wf100">
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container" style="color: black;">
                <strong>Descarte Inteligente<span></span></strong>
                <h1>2021</h1>
                <p>Ganhe bonus ajudando o meio ambiente</p>

                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="/images/02ferroVelho.jpg" alt="">
    </div>
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container" >
                <strong style="color:#334031;"><span >Por</span> um mundo melhor & </strong>
                <h1 style="color:#78BF30;">Uma melhor qualidade de vida</h1>
                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="images/3725847.jpg" alt="">
    </div>
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container">
                <strong>Descarte Inteligente<span></span></strong>
                <h1>2021</h1>
                <p style="color: rgb(46, 46, 46);"><strong style="color: rgb(46, 46, 46);">“Quem ama preserva. Preservar o meio ambiente é preservar a vida.”
                    </strong><small> Andrea Taiyoo</small></p>


                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="/images/3727243.jpg" alt="">
    </div>
</section>


<section class="services-area wf100">
    <div class="container">
        <ul>
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/sericon1.png" alt="">
                    <h6>Reciclagem</h6>
                    <p>Gestão de resíduos</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/icon_metal.png" alt="">
                    <h6>Embalagens de Aço</h6>
                    <p>Separe as embalagens de aço de sua casa</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/icon_catador.png" alt="">
                    <h6>Catador</h6>
                    <p>O catador coleta seu material de aço reciclavel</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li class="active">
                <div class="sinfo">
                    <img src="images/icon_ferrovelho.png" alt="">
                    <h6>Ferro Velho</h6>
                    <p>O catador leva seu descarte ao Ferro Velho</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/icon_industria.png" alt="">
                    <h6>Siderúrgica</h6>
                    <p>Logo em seguida seu descarte é levado para a Siderúrgica para ser reciclado</p>
                </div>
            </li>
            <!--box  end-->
        </ul>
    </div>
</section>


<section class="home2-about wf100 p100 gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="video-img"> <a href="#" {{!-- data-rel="prettyPhoto" --}}
                        title="Vimeo video"><i class="fas fa-play"></i></a> <img src="images/about.jpg" alt=""> </div>
            </div>
            <div class="col-md-7">
                <div class="h2-about-txt">
                    <h3>Curiosidades sobre o aço</h3>
                    <h2>Você sabia que o aço é o elemento mais reutilizavel que existe?</h2>
                    <p> Diversas pessoas estão recilando o aço de forma correta e ganhando dinheiro com suas
                        reciclagens.
                        Só no começo de 2021 tivemos um aumento de 45% de pessoas descartando de forma correta ajudando
                        o meio ambiente e melhor de tudo ganhando dinheiro através de seus lindos atos.
                    </p>
                    <a class="aboutus" href="#">Descubra mais sobre nós</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-facts counter pt80">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <form action="/collections/register" method="post">
                        <h5>Descarte corretamente</h5>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <select name="typeCompany" id="typeCompany" class="form-control" required>
                                    <option value="">Selecione seu tipo</option>
                                    <option value="Pessoal">Pessoal</option>
                                    <option value="Ferro Velho">Ferro Velho</option>
                                    <option value="Corporativo">Corporativo</option>
                                    <option value="Industrial">Industrial</option>
                                </select>
                                <input type="text" name="name" id="name" class="form-control mt-3"
                                    placeholder="Nome completo" required>
                                <input type="text" name="CEP" id="CEP" class="form-control mt-3" placeholder="CEP"
                                    required>
                                <label for="" class="mt-2">Disponibilidade</label>
                                <input name="date" type="date" class="form-control" required>
                            </div>
                            <div class="col">
                                <input type="text" name="company" id="company" class="form-control"
                                    placeholder="Nome da Empresa" required>
                                <input type="text" name="document" id="document" class="form-control mt-3"
                                    placeholder="CPF ou CNPJ" required>
                                <input type="text" name="address" id="address" class="form-control mt-3"
                                    placeholder="Endereço e Numero" required>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="hrInit">Hr Inicio</label>
                                        <input type="time" name="hrInit" id="hrInit" class="form-control" required>
                                    </div>
                                    <div class="col-6">
                                        <label for="hrFim">Hr Fim</label>
                                        <input type="time" name="hrFim" id="hrFim" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col"></div>
                            <div class="col-10">
                                <button class="btn btn-success col-12">Agendar</button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="row mt-5">
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">89000</p>
                                <p class="ctxt">PONTUAÇÃO CSN INOVA</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">79000</p>
                                <p class="ctxt">PONTUAÇÃO CONDOMINIO</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">89000</p>
                                <p class="ctxt">PONTUAÇÃO CSN INOVA</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">79000</p>
                                <p class="ctxt">PONTUAÇÃO CONDOMINIO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body">
        {{>_news}}
    </div>
</div>
