<section id="home-slider" class="owl-carousel owl-theme wf100">
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container" style="color: black;">
                <strong>Ecova<span> a melhor</span></strong>
                <h1>Eco 2021</h1>
                <p>Ganhe dinheiro ajudando o meio ambiente</p>
                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="/images/02ferroVelho.jpg" alt="">
    </div>
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container">
                <strong><span>Please</span> Stop Hunting & </strong>
                <h1>Save WildLife</h1>
                <p>of <strong>endangered animals</strong> in the world</p>
                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="images/vergalhoes.jpg" alt="">
    </div>
    <div class="item">
        <div class="slider-caption h2slider">
            <div class="container">
                <strong>Save <span> & don’t waste our life</span> partner</strong>
                <h1>Water Resource</h1>
                <p>Before <strong>it’s too late</strong> for us...</p>
                <a href="#" class="active">Descubra mais</a> <a href="#">Junte-se a nós agora</a>
            </div>
        </div>
        <img src="/images/02ferroVelho.jpg" alt="">
    </div>
</section>


<section class="services-area wf100">
    <div class="container">
        <ul>
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/sericon1.png" alt="">
                    <h6>Reciclagem</h6>
                    <p>Gestão de resíduos</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/sericon2.png" alt="">
                    <h6>Wind Energy</h6>
                    <p>Polar, Prevailing, Tropical</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/sericon3.png" alt="">
                    <h6>Pure Water</h6>
                    <p>Save Water Resources</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li class="active">
                <div class="sinfo">
                    <img src="images/sericon4.png" alt="">
                    <h6>Solar Panels</h6>
                    <p>Save Natural Engery</p>
                </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
                <div class="sinfo">
                    <img src="images/sericon5.png" alt="">
                    <h6>Forest Planting</h6>
                    <p>Make Plants Alive for Life</p>
                </div>
            </li>
            <!--box  end-->
        </ul>
    </div>
</section>


<section class="home2-about wf100 p100 gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="video-img"> <a href="http://vimeo.com/43338103&amp;width=700" data-rel="prettyPhoto"
                        title="Vimeo video"><i class="fas fa-play"></i></a> <img src="images/about.jpg" alt=""> </div>
            </div>
            <div class="col-md-7">
                <div class="h2-about-txt">
                    <h3>Curiosidades sobre o aço</h3>
                    <h2>Você sabia que o aço é o elemento mais reutilizavel que existe?</h2>
                    <p> Diversas pessoas estão recilando o aço de forma correta e ganhando dinheiro com suas
                        reciclagens.
                        Só no começo de 2021 tivemos um aumento de 45% de pessoas descartando de forma correta ajudando
                        o meio ambiente e melhor de tudo ganhando dinheiro através de seus lindos atos.
                    </p>
                    <a class="aboutus" href="#">Descubra mais sobre nós</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-facts counter pt80">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <form action="" method="post">
                        <h5>Descarte corretamente</h5>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <select name="" id="" class="form-control" required>
                                    <option value="">Selecione seu tipo</option>
                                    <option value="">Pessoal</option>
                                    <option value="">Ferro Velho</option>
                                    <option value="">Corporativo</option>
                                    <option value="">Industrial</option>
                                </select>
                                <input type="text" name="" id="" class="form-control mt-3" placeholder="Nome completo" required>
                                <input type="text" name="" id="" class="form-control mt-3" placeholder="CEP" required>
                                <label for="" class="mt-2">Disponibilidade</label>
                                <input type="date" class="form-control" required>
                            </div>
                            <div class="col">
                                <input type="text" name="" id="" class="form-control" placeholder="Nome da Empresa" required>
                                <input type="text" name="" id="" class="form-control mt-3" placeholder="CPF ou CNPJ" required>
                                <input type="text" name="" id="" class="form-control mt-3"
                                    placeholder="Endereço e Numero" required>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="">Hr Inicio</label>
                                        <input type="time" name="" id="" class="form-control" required>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Hr Fim</label>
                                        <input type="time" name="" id="" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col"></div>
                            <div class="col-10">
                                <button class="btn btn-success col-12">Agendar</button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="row mt-5">
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">89000</p>
                                <p class="ctxt">PONTUAÇÃO CSN INOVA</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">79000</p>
                                <p class="ctxt">PONTUAÇÃO CONDOMINIO</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">89000</p>
                                <p class="ctxt">PONTUAÇÃO CSN INOVA</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box">
                                <p class="counter-count">79000</p>
                                <p class="ctxt">PONTUAÇÃO CONDOMINIO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body">
        {{>_news}}
    </div>
</div>
