<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png">
    <meta name="author" content="IsaacDSC">
    <meta name="author" content="Matheus Mendes">
    <meta name="author" content="João de Paula">
    <title>Descarte inteligente</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/color.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: rgba(0, 0, 0, 0.87);
        /*background-image: url("/images/industry/05.jpg");*/
    }
</style>

<body>
    <div class="container">
        {{>_nav}}
        {{{body}}}
        {{>_footer}}
    </div>



    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-1.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/custom.js"></script>

</body>

</html>